<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>View Participant</title>
  </head>
  <body>
    <h2>
      Participant Profile: {{ participant.first_name }} {{ participant.last_name
      }}
    </h2>
    <a href="/dashboard">Back to Dashboard</a>

    <p><strong>Phone:</strong> {{ participant.phone_number }}</p>
    <p><strong>Email:</strong> {{ participant.email }}</p>
    <p><strong>Start Date:</strong> {{ participant.start_date }}</p>
    <p><strong>End Date:</strong> {{ participant.end_date }}</p>
    <p>
      <strong>Registered By:</strong> {{ participant.created_by.first_name }} {{
      participant.created_by.last_name }}
    </p>
  </body>
</html>
