<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkerboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="board">
      {% for row in range(x) %}
      <div class="row">
        {% for col in range(y) %} {% if (row + col) % 2 == 0 %}
        <div class="square" style="background-color: {{ color1 }};"></div>
        {% else %}
        <div class="square" style="background-color: {{ color2 }};"></div>
        {% endif %} {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
