<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add an Author</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="column">
        <h1>Add an Author</h1>
        <form action="/authors/add" method="POST">
          {% csrf_token %}
          <p>First Name <input type="text" name="first_name" required /></p>
          <p>Last Name <input type="text" name="last_name" required /></p>
          <p>Notes <textarea name="notes"></textarea></p>
          <button type="submit">Add</button>
        </form>
      </div>
      <div class="column">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for author in all_authors %}
            <tr>
              <td>{{ author.id }}</td>
              <td>{{ author.first_name }} {{ author.last_name }}</td>
              <td><a href="/authors/{{ author.id }}">View</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
